apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  # Helm יודע לקחת את הטקסט מה-values ולהפוך אותו ל-Base64 בעזרת הפונקציה b64enc
  api-token: {{ .Values.appConfig.apiToken | b64enc | quote }}