name: Helm Project CI

on:
  push:
    branches: [ "main" ] # ירוץ בכל פעם שתעשה Push לענף הראשי

jobs:
  test-my-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check Helm Syntax
        run: helm lint ./charts/myapp

  docker-build-and-push:    # שים לב! זה מיושר בדיוק מתחת ל-test-my-chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: motinet/helm-app:latest